body {
    background-image: url(../../Resources/Images/bg.jpg);
    background-size: cover;
}

.wrapper {
    max-width: 90%;
    min-height: 100%;
    margin: 50px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ffffff;
    border-radius: 15px;
}

.up-input {
    border: 1px dashed #aaa;
    width: 278px;
    max-width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.name {
    font-weight: bold;
    font-size: x-large;
    color: gray;
}

.info {
    font-size: medium;
    color: gray;
}

.second {
    margin-bottom: 10px;
}

.data-title {
    font-weight: bold;
    font-size: medium;
    color: rgb(72, 72, 72);
}

.data {
    font-weight: normal;
}

.btn {
    width: 100px;
    padding: 2px 10px 4px 10px;
    border-radius: 20px;
    border: 1px solid gray;
    margin: 5px 10px 5px 10px;
}

.btn:hover {
    color: white;
    background-image: url(../../Resources/Images/bg.jpg);
    background-size: cover;
}

.fas {
    margin-right: 10px;
}

.nav-link {
    color: black;
    font-weight: bold;
}