body {
	background-image: url(../../Resources/Images/bg.jpg);
	background-size: cover;
}

.wrapper {
	max-width: 90%;
	min-height: 400px;
	margin: 50px auto;
	padding: 40px 30px 30px 30px;
	background-color: #ffffff;
	border-radius: 15px;
}

.logo {
	width: 100px;
	margin: auto;
}

.logo img {
	width: 100%;
	height: 100px;
	object-fit: cover;
}

.btn {
	min-width: 100%;
}

.btn {
	width: fit-content;
	border: none;
	padding: 5px 10px;
	border-radius: 20px;
	border: 1px solid gray;
}

.btn:hover {
	color: white;
	background-image: url(../../Resources/Images/bg.jpg);
	background-size: cover;
}

/* Table   */

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}

th,
td {
	/* text-align: center; */
	padding: 8px;
}

th {
	background-color: #c1def6;
	justify-content: center;
}

tr:nth-child(even) {
	background-color: #e3caf0
}

/* Pagination */

.pagination {
	margin: auto;
	margin-top: 10px;
	justify-content: center;
}

.pagination a {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	margin: 5px;
	color: rgb(78, 98, 229);
}

.pagination a:hover {
	background: #e3caf0;
}

/* Icons */
i {
	margin-right: 5px;
	color: rgb(78, 98, 229);

}

.no_res {
    width: fit-content;
    background-color: #e3caf0;
	text-align: center;
	margin: auto;
	color: crimson;
	padding: 10px;
	border-radius: 20px;
}

.addsupervisor {
	width: fit-content;
}