body {
	background-image: url(../../Resources/Images/bg.jpg);
	background-size: cover;
}

.btn {
	min-width: 100%;
}

.btn {
	width: 50%;
	border: none;
	padding: 5px 10px;
	border-radius: 20px;
	border: 1px solid gray;
}

.btn:hover {
	color: white;
	background-image: url(../../Resources/Images/bg.jpg);
	background-size: cover;
}

.wrapper {
	max-width: 400px;
	min-height: 400px;
	margin: 50px auto;
	padding: 40px 30px 30px 30px;
	background-color: #ffffff;
	border-radius: 15px;
}

.logo {
	width: 100px;
	margin: auto;
}

.logo img {
	width: 100%;
	height: 100px;
	object-fit: cover;
}

.form-control {
	padding-bottom: 20px;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	border: none;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}