body {
  background-image: url(../../Resources/Images/bg.jpg);
  background-size: cover;
}

.wrapper {
  max-width: 90%;
  min-height: 75vh;
  margin: 55px auto;
  padding: 40px 30px 30px 30px;
  background-color: #ffffff;
  border-radius: 15px;
}

.up-input {
  border: 1px dashed #aaa;
  width: 278px;
  max-width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.name {
  font-weight: bold;
  font-size: large;
  color: gray;
}

.info {
  font-size: small;
  color: gray;
}

.second {
  margin-bottom: 10px;
}

.data-title {
  font-weight: bold;
  font-size: medium;
  color: rgb(72, 72, 72);
}

.data {
  font-weight: normal;
}

.btn {
  width: 100px;
  padding: 2px 10px 4px 10px;
  border-radius: 20px;
  border: 1px solid gray;
  margin: 5px 10px 5px 10px;
}

.btn:hover {
  color: white;
  background-image: url(../../Resources/Images/bg.jpg);
  background-size: cover;
}

.fas {
  margin-right: 10px;
}

.name-block {
  margin-top: 5px;
}

@mixin user-select() {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

@mixin chart($radius, $width) {
  .chart-pie {
    position: relative;
    display: inline-block;
    height: $radius;
    width: $radius;
    border-radius: 50%;
    background-color: $circle-gray;
    vertical-align: middle;

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: $radius - $width;
      width: $radius - $width;
      top: $width / 2;
      left: $width / 2;
      border-radius: 50%;
      background-color: $white;
    }
  }

  .chart-pie-count {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 44px;
    color: $header-black;
    text-align: center;
    z-index: 1;
  }

  .chart-pie>div {
    clip: rect(0, $radius, $radius, $radius / 2);
  }

  .chart-pie>div,
  .chart-pie.over50 .first-fill {
    position: absolute;
    height: $radius;
    width: $radius;
    border-radius: 50%;
  }

  .chart-pie.over50>div {
    clip: rect(auto, auto, auto, auto);
  }

  .chart-pie.over50 .first-fill {
    clip: rect(0, $radius, $radius, $radius / 2);
  }

  .chart-pie:not(.over50) .first-fill {
    display: none;
  }

  .second-fill {
    position: absolute;
    clip: rect(0, $radius / 2, $radius, 0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-width: $width - 1;
    border-style: solid;
    box-sizing: border-box;
  }

  .chart-pie.positive {
    .first-fill {
      background-color: $positive-circle;
    }

    .second-fill {
      border-color: $positive-circle;
    }
  }

  .chart-pie.negative {
    .first-fill {
      background-color: $negative-circle;
    }

    .second-fill {
      border-color: $negative-circle;
    }
  }
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

#aspect-content {
  margin: 50px 0 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.aspect-tab {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 10px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(236, 236, 236, 1);
  opacity: 1;
  transition: box-shadow .2s, opacity .4s;
}

.aspect-tab:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .11);
}

.aspect-input {
  display: none;
}

.aspect-input:checked~.aspect-content+.aspect-tab-content {
  max-height: 3000px;
}

.aspect-input:checked~.aspect-content:after {
  transform: rotate(0);
}

.aspect-label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 80px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
  z-index: 1;
  cursor: pointer;
}

.aspect-content {
  position: relative;
  display: block;
  height: 80px;
  margin: 0;
  padding: 6px 87px 5px 10px;
  font-size: 0;
  white-space: nowrap;
  cursor: pointer;
  @include user-select();
}

.aspect-content::before::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.aspect-content::before {
  height: 100%;
}

.aspect-content::after {
  position: absolute;
  width: 24px;
  height: 100%;
  right: 30px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}

.aspect-name {
  display: inline-block;
  width: 100%;
  margin-left: 5px;
  font-weight: 500;
  white-space: normal;
  text-align: left;
  vertical-align: middle;
}

.aspect-stat {
  width: 40%;
  text-align: right;
}

.all-opinions,
.aspect-name {
  font-size: 14px;
  line-height: 22px;
}

.all-opinions {
  text-align: left;
}

.aspect-content+.aspect-tab-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s;
}

.aspect-content>div,
.aspect-stat>div {
  display: inline-block;
}

.aspect-content>div {
  vertical-align: middle;
}

.positive-count,
.negative-count,
.neutral-count {
  display: inline-block;
  margin: 0 0 0 20px;
  padding-left: 26px;
  background-repeat: no-repeat;
  font-size: 13px;
  line-height: 20px;
}

.aspect-info {
  width: 100%;
  white-space: nowrap;
  font-size: 0;
}

.aspect-info::before {
  content: '';
  display: inline-block;
  height: 44px;
  vertical-align: middle;
}

@include chart(44px, 4px);

.aspect-tab-content {
  font-size: 0;
  text-align: justify;
}

.sentiment-wrapper {
  padding: 24px 30px 5px;
}

.sentiment-wrapper>div {
  display: inline-block;
  width: 100%;
  padding: 0 5px;
  box-sizing: border-box;
  vertical-align: top;
  cursor: default;
}

.sentiment-wrapper>div>div {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ececec;
  text-align: left;
}

.opinion-header {
  position: relative;
  width: 100%;
  margin: 0 0 24px;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  text-transform: capitalize;
}

.opinion-header>span:nth-child(2) {
  position: absolute;
  right: 0;
}

.opinion-header+div>span {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}